
:root {
  --text-color: #222;
  --background-color: rgb(182, 78, 78);
}
/* .dark-mode {
  color: white;
  background-color: black;} */
body {
display: flex;
flex-direction: column;
background-color: rgb(132, 0, 255);
font-family: "Rubik" sans-serif;
}

}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Black.woff2") format("woff2"),
      url("../fonts/Rubik-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.woff2") format("woff2"),
      url("../fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-BlackItalic.woff2") format("woff2"),
      url("../fonts/Rubik-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'FontName';
  src: url('FileName.eot');
  src: url('FileName.eot?#iefix') format('embedded-opentype'),
     url('FileName.woff') format('woff'),
     url('FileName.ttf') format('truetype'),
     url('FileName.svg#FontName') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-MediumItalic.woff2") format("woff2"),
      url("../fonts/Rubik-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Italic.woff2") format("woff2"),
      url("../fonts/Rubik-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
      url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
      url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-SemiBold.woff2") format("woff2"),
      url("../fonts/Rubik-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-SemiBoldItalic.woff2") format("woff2"),
      url("../fonts/Rubik-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
textarea {
  display: block;
  width: 100%;
  min-height: 80px;
  resize: vertical;
}

.header-site {
  width: 1100px;
  height: 80px;
  background-color: blue;
}
p {
  background-color: rgb(189, 195, 29);
  font-family: "Rubik" sans-serif;
  font-weight: 600;
  font-style: italic;

}

.footer {
  width: 1100px;
  height: 40px;
  background-color: aqua;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 70px;
  width: 1200px;
  height: 1000px;
/* background-color: aqua;
background-image: url("https://picsum.photos/300?random=1"),
url("https://picsum.photos/600?random=2");
background-repeat: no-repeat, repeat;
background-position: center center, left top; */

background-image: url("../img/duvar.webp");
background-position: center center;
/* linear-gradient(
  /* -45deg, */
/* to right top,
red 300px,
blue 30%,yellow 600px,
yellow 800px,
black); */

/* to bottom,
blue 30%,
red 30%,
red 35%,
white 35%,
white 65%,
red 65%,
red 70%,
green 70%); */


/* to left,
red, blue);
background-repeat: no-repeat;
background-position: 30px 30px, center center;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
border: 15px solid brown;
}
.div-wrap {
  display: flex;
  background-image: url("../img/small-house-design-ideas.webp");
  background-position: center center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 700px;
  border: 20px solid brown;
  transition: transform 1s ease;
  transform: perspectiveX(2000px);
}

.one-div {
  width: 300px;
  height: 7000px;
  background-color: aqua;
/* transform: translateY(-100px); */
/* transform: scaleX(1.5); */
/* transform: scaleX(3) scaleY(0.5); */
/* transform: rotate(-45deg); */
transform: rotateY(80deg);
/* transform: skewY(-45deg); */
/* transform: rotate(40deg) translate(300px); */
/* transform-origin: right bottom; */
/* transform-origin: left center; */
}
.two-div {
  width: 300px;
  height: 350px;
/* transform: translate(50px 50px); */
/* transform: rotateY(-80deg);
transform-origin: right center; */
}

/* INPUTNING VALID TANLOVCHISI */
.input {
  border: 2px solid #333;
  outline: 2px dashed blue;
  outline-offset: 2px ;
  width: 250px;
  height: 30px;
  padding-left: 10px;
}
.input:not(:placeholder-shown){
  border-color: red;
color: red;
}
/* .input:invalid {
  color: red;
  border-color: red;
} */
.input:valid {
  color: rgba(27, 159, 27, 0.645);
  border-color: rgba(27, 159, 27, 0.645);
}
.input:disabled {
  background-color: #ddd;
}
